In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("fir_data_updated.csv")

In [13]:
df

,case_id,summary,location,date_reported,lat,lon,status,closed_date
0,1,Mary was robbed at gunpoint near Tapia Parkways.,Pune,2024-11-18,18.5204,73.8567,Open,NaN
1,2,Keith had their phone snatched on Cooper Spring.,Bangalore,2024-12-29,12.9716,77.5946,Closed,2025-02-14
2,3,Dean was attacked with a knife at Swanson Plaza.,Jaipur,2024-10-25,26.9124,75.7873,Closed,2024-11-06
3,4,John saw a group vandalizing vehicles near Ern...,Pune,2024-06-04,18.5204,73.8567,Closed,2024-08-05
4,5,Alan faced an assault incident around Carney F...,Pune,2024-10-30,18.5204,73.8567,Open,NaN
...,...,...,...,...,...,...,...,...
995,996,Amber was attacked with a knife at Hudson Corn...,Nagpur,2024-08-25,21.1458,79.0882,Open,NaN
996,997,Carla faced an assault incident around Miller ...,Chennai,2025-04-29,13.0827,80.2707,Closed,2025-05-23
997,998,Kenneth faced an assault incident around Jessi...,Hyderabad,2025-04-09,17.3850,78.4867,Open,NaN
998,999,Ian was robbed at gunpoint near Linda Lane.,Delhi,2024-06-28,28.6139,77.2090,Closed,2024-07-18
999,1000,Roger was robbed at gunpoint near Brenda Circle.,Pune,2024-09-19,18.5204,73.8567,Open,NaN

In [11]:
# checking the null values

df.isnull().sum()

case_id          0
summary          0
location         0
date             0
lat              0
lon              0
status           0
closed_date    503
dtype: int64

In [14]:
df = df.rename(columns={'date': 'reported_date'})  # or whatever the original name was

In [15]:
# Convert dates to datetime
df['date_reported'] = pd.to_datetime(df['date_reported'], errors='coerce')
df['closed_date'] = pd.to_datetime(df['closed_date'], errors='coerce')

In [17]:
# Get today's date
from datetime import datetime
today = pd.to_datetime(datetime.today().date())

In [18]:
# Calculate time_to_solve
df['time_to_solve'] = (df['closed_date'].fillna(today) - df['date_reported']).dt.days

In [19]:
# Optional: Add a column to show whether it's open or closed
df['case_status'] = df['closed_date'].apply(lambda x: 'Open' if pd.isna(x) else 'Closed')

In [20]:
# Save the updated dataset
df.to_csv("dataset_fir.csv", index=False)

In [23]:
# save the dataframe with additional columns

df.to_csv("processed_fir_dataset.csv", index=False)
print("model and data processing completed.")

model and data processing completed.